@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#FF5733] text-white px-6 py-2 rounded-full hover:bg-opacity-90 transition;
  }
}


.banner {
  background-image: url("../img/pexels-wendywei-1943411\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 52px 40px;
}